.menu{
    background: -webkit-linear-gradient(rgb(41, 41, 41), rgb(95, 92, 92));
    width: 220px;
    height: 310px; 
    margin-left: 30px;
    word-wrap: break-word;
    opacity: 0.9;
    padding-left: 10px;
    padding-right: 10px;
}

.elect {
    cursor: pointer;
    display: inline-block;
    margin: 3px;
    padding: 1px 3px 1px 3px;
    
    white-space:nowrap;
    color: white;
    background-color: black;
    
}

.no-elect {
    display: inline-block;
    cursor: pointer;
    padding: 1px 3px 1px 3px;
    white-space:nowrap;
    margin: 3px;
    background-color: rgb(170, 170, 170);
}

.no-elect:hover {
    box-shadow: 2px 2px 2px black;
    background-color: white;
}

.button-search-by-genres{
    margin: auto;
    width: 140px;
    height: 30px;
}

.button-ads{
    margin-top: 20px;
    width: 140px;
    height: 30px;
    color: white;
    background: black;
    border-radius: 10px;
}
.title-genres{
    color: rgb(197, 192, 192);
    padding-top: 10px;
    
    
}