.header{
    background-color: #082075;
    display: flex;
    justify-content: space-between;
}
.menu-button{
    margin-left: 11%;
    

}
.menu-button a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    height: 90%;
    margin-right: 5px;
}

.menu-button a:hover{
    background-color: #e5ebff;
    color: blue;
    transition: 0.5s;
    box-shadow: 1px 1px 4px 2px rgb(255, 255, 255);
}
