.header{
    background-color:rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
}

.menu-button{
    margin-left: 11%;
}

.menu-button a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 3px;
    padding: 2px;
    margin-right: 20px;
    box-shadow: 3px 4px 2px black;    
}

.menu-button a:hover{
    background-color: #e5ebff;
    color: black;
    transition: 0.5s;
    box-shadow: 1px 1px 4px 2px rgb(255, 255, 255);
}
