.search{
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-right: 11%;
}

.input{
  font-size: 25px;
  border-radius: 10px 0 0 10px;


}
.buttonSearch{
  position: absolute;
  right: 0;
  width: 70px;
  height: 100%;
  background-color: rgb(240, 236, 236);



}

