.search{
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-right: 11%;
}

.input{
  font-size: 30px;
  /*border: 2px solid white;*/
  border-radius: 10px;


}
.button{
  position: absolute;
  right: 0;
  width: 40px;
  margin-right: 10px;



}

