.look-pagination {
    display: inline-block;
    height: 50px;
    padding: 0 25px;
    border-radius: 35px;
    background-color: #838383;
    margin-top: 15px;
    margin-bottom: 15px;
    transform: translate(20%, 0px);
}

.page {
    display: block;
    padding: 0 25px;
    float: left;
    transition: 400ms ease;
    color: white;
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 50px;
}

.current-number {
    background-color: black;
}

.page:hover {
    background-color: rgb(102, 102, 102);
    color: #fff;
}

.next, .back {
    color: black;
    height: 100%;
}

